@model AzureStorage.Controllers.CustomerEntity

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>First Name:  @(Model.FirstName) </p>  
    <p>Last Name: @(Model.LastName)</p>
</div>
</body>
</html>